body {
  color: #3b3b3b;  /* color me */
}
a {
  color: #0073b6; /* color me */
}
a:hover {
  color: #018fe2; /* color me */
}
#header {
  background: #1a1a1a;  /* color me */
  color: #ffffff;  /* color me */
}
