/* $Id$ */

#content {
  display:inline;
  float: left;
  position: relative;
  margin-left:15px;
  margin-right:5px;
  padding-right:20px;
  position:relative;
  width:640px;
}

#sidebar-first {
  display:inline;
  float:left;
  margin-left:25px;
  margin-right:15px;
  position:relative;
  width:225px;
}
#breadcrumb {
  margin-left: 15px;
  margin-right: 15px;
  width:930px;
}


/*
#header div.section,
#subheader div.section, 
#featured div.section, 
#main-wrapper,
#diptych,
#triptych,
#footer div.section {
  width: 960px;
  margin: 0 auto;
}
*/
/*
#content,
#sidebar {
  float: left;
  display: inline;
  position: relative;
}

#main {
  width: 100%;
}
#content {
  width: 70%;
  float: left;
}
#sidebar {
  width: 25%;
  float: left;
}
#diptych {
  width: 960px;
}
#diptych-first,
#diptych-last {
  width:50%;
  float: left;
}
#triptych {
  width: 960px;
}
#triptych-first,
#triptych-middle,
#triptych-last {
  width:33%;
  float: left;
}
#footer-columns {
  width: 960px;
}
#footer-firstcolumn,
#footer-secondcolumn,
#footer-thirdcolumn,
#footer-fourthcolumn {
  width:25%;
  float: left;
}
*/