/* $Id$ */

/**
 * Basic layout styles
 */
#header div.section,
#navigation div.section,
#featured div.section,
#messages div.section,
#main,
#triptych {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}
#content {
  display: inline;
  float: left;
  position: relative;
  margin-left: 15px;
  margin-right: 5px;
  padding-right: 20px;
  position: relative;
  width: 640px;
}
#sidebar-first {
  display: inline;
  float: left;
  margin-left: 25px;
  margin-right: 15px;
  position: relative;
  width: 225px;
}
#breadcrumb {
  margin-left: 15px;
  margin-right: 15px;
  width: 930px;
}
#triptych-first,
#triptych-middle,
#triptych-last {
  display: inline;
  float: left;
  position: relative;
  width: 290px;
  margin: 20px 15px 30px;
}
#footer-wrapper {
  padding: 35px 20px 30px;
}
#footer-columns {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
#footer-firstcolumn,
#footer-secondcolumn,
#footer-thirdcolumn,
#footer-fourthcolumn {
  width: 210px;
  display: inline;
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  position: relative;
}
#footer {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

/**
* Overlay layout styles
*/
.overlay #main,
.overlay #content {
  width: auto;
  float: none;
}
.overlay #page {
  padding: 0 2em;
}
.overlay #skip-link,
.overlay #header,
.overlay #page-title,
.overlay #featured,
.overlay #sidebar-first,
.overlay #footer-wrapper,
.overlay #triptych-wrapper {
  display: none;
}