/* $Id$ */

/**
 * Reset styles
 */
body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
img {
  outline: 0;
}
/* Remember to define focus styles! */
:focus {
  outline: 0;
}
/* Tables still need 'cellspacing="0"' in the markup. */
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}
blockquote, q {
  quotes: "" "";
}